.heroBanner {
  padding: 8rem 0 10rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 90vh;
}

.promoTitle{
  font-size: 6rem;
  margin: 0;
}

.promoTitleTwo{
  font-size: 9rem;
  margin: 0;
  margin-top: -1vw;
}

.promoSubtitle{
  margin-top: 10px;
  margin-bottom: 2vw;
  font-size: 3vh;
}

html[data-theme='light'] .promoSubtitle{
  color: black;
}

.startButton{
  margin: 5px;
}

.mainPart{
  margin-bottom: 10rem;
}

.part{
  padding-top: 5em;
  padding-bottom: 5em;
  overflow: hidden;
}

.textPart{
  font-size: 1.25rem;
  color: rgba(127,127,127,1);
  margin: auto;
  display: block;
}

.features{
  max-width: 42rem !important;
}

.featuresTwo{
  max-width: 60rem !important;
}

.startArrow{
  display: block;
  position: absolute;
  bottom: 30px;
  right: 50%;
  width: 2px;
  height: 60px;
  background-color: var(--ifm-color-emphasis-500);
}

.card{
  background: rgba(127,127,127,0.15);
  margin: 0 2rem 2rem 2rem;
  max-width: fit-content !important;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 20px !important;
}

.cardImage{
  height: 60px;
  margin: auto;
}

.cardTitle{
  margin: 10px auto;
  font-weight: bold;
}

.cardSubtitle{
  margin: auto;
  display: block;
  text-align: center;
}

@media (max-width: 768px){
  .promoTitle{
    font-size: 2rem;
  }

  .promoTitleTwo{
    font-size: 4rem;
  }

  .part{
    padding-top: 3em;
    padding-bottom: 3em;
    overflow: hidden;
  }

  .card{
    margin: 10px 10px 0 10px !important;
  }
}