.heroBanner {
  padding: 8rem 0 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.promoTitle{
  font-size: 50pt;
}

.promoSubtitle{
  font-size: 20pt;
}

.startButton{
  margin: 5px;
  font-size: 20pt;
}

.features img{
  margin: auto;
  max-width: 200px;
}