.heroBanner {
  padding: 8rem 0 10rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}

.promoTitle{
  font-size: 6rem;
  margin: 0;
}

.promoTitleTwo{
  font-size: 9rem;
  margin: 0;
  margin-top: -1vw;
}

.promoSubtitle{
  margin-top: 10px;
  margin-bottom: 2vw;
  font-size: 3vh;
}

.startButton{
  margin: 5px;
}

.part{
  padding-top: 5em;
  padding-bottom: 5em;
  overflow: hidden;
}

.textPart{
  font-size: 1.25rem;
  color: rgba(127,127,127,1);
  margin: auto;
  display: block;
}

.features{
  max-width: 42rem !important;
}

.startArrow{
  display: block;
  position: absolute;
  bottom: 100px;
  right: 50%;
  width: 2px;
  height: 60px;
  background-color: var(--ifm-color-emphasis-500);
}

@media (max-width: 768px){
  .promoTitle{
    font-size: 2rem;
  }

  .promoTitleTwo{
    font-size: 4rem;
  }

  .part{
    padding-top: 3em;
    padding-bottom: 3em;
    overflow: hidden;
  }
}